@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Slab:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Slab:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

.white-font {
  color: white;
}

.roboto-slab {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

main {
  min-height: 100vh;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.align-center {
  align-items: center;
}
.align-start {
  align-items: flex-start;
}

.space-evenly {
  justify-content: space-evenly;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.main-section-subtitle {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}

.main-section-title {
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
}

.main-form-input {
  border-radius: 8px;
  border: none;
  width: 300px;
  height: 40px;
  background-color: #f5f5f5;
  padding-left: 8px;
  font-family: "Inter", sans-serif;
}

.text-area-input {
  border-radius: 10px;
  border: none;
  width: 300px;
  height: 166px;
  background-color: #f5f5f5;
  padding-left: 10px;
  padding-top: 10px;
  font-family: "Inter", sans-serif;
}

.form-container {
  background-color: #fff;
  border-radius: 10px;
  width: 320px;
  height: 500px;
  padding: 20px;
  display: flex;
  gap: 10px;
}

h5 {
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.35em;
  text-align: left;
  color: #adadad;
  text-align: center;
  padding-top: 30px;
}

.sobre-nos,
.nossos-servicos {
  background-color: #f0f0f0;
}

.black-text,
.orange-text {
  font-family: "Roboto Slab", serif;
  font-size: 42px;
  font-weight: 300;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
}

.black-text {
  color: #000;
}
.orange-text {
  color: #d1ae6c;
}

.sobre-nos-paragraph {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 16px;
  max-width: 400px;
}

.main-button {
  background-color: #ba8e39;
  width: 260px;
  height: 41px;
  border-radius: 8px;
  border: none;
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
  margin: 30px 0;
}

.nossas-metodologias {
  background-image: url(./assets/justice-hammer.png);
  background-repeat: no-repeat;
  min-height: 60vh;
  text-align: center;
  color: white;
  background-size: cover;
  background-position: center;
}

.nossas-metodologias h2 {
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  margin-top: 10px;
  text-align: center;
}

.nossas-metodologias p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 16px;
  font-weight: lighter;
  margin-top: 10px;
}

.servicos-container {
  max-width: 80vw;
  background-color: #e7e7e7;
}

.nossos-servicos h3 {
  font-family: "Roboto Slab", serif;
  font-size: 28px;
  font-weight: 300;
  line-height: 37px;
  letter-spacing: 0em;
  text-align: left;
  padding: 0 30px;
  max-width: 400px;
  color: #2c2c4b;
}

.nossos-servicos p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 200;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  padding: 0 30px;
  max-width: 400px;
  margin-top: 10px;
}

.nossos-servicos button {
  margin: 30px;
  width: 230px;
  height: 40px;
  background: linear-gradient(90deg, #b17f4a 0%, #eece92 100%);
  border-radius: 0px 30px 32px 0px;
  border: none;
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
}

.nossos-servicos {
  padding-bottom: 50px;
}

.contact-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  min-height: 100vh;
}

.contact-form h2 {
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
  max-width: 400px;
  padding: 0 20px;
}

.second-form-container {
  background-color: #fff;
  border-radius: 10px;
  width: 460px;
  height: 500px;
  padding: 20px;
  display: flex;
  gap: 10px;
  max-width: 80vw;
}

.second-form-input {
  border-radius: 8px;
  border: none;
  width: 400px;
  height: 40px;
  background-color: #f5f5f5;
  padding-left: 8px;
  max-width: 80vw;
  font-family: "Inter", sans-serif;
}

.second-text-area-input {
  border-radius: 10px;
  border: none;
  width: 400px;
  height: 166px;
  background-color: #f5f5f5;
  padding-left: 10px;
  padding-top: 10px;
  max-width: 80vw;
  font-family: "Inter", sans-serif;
}

.second-button {
  background-color: #ba8e39;
  padding: 0 10px;
  height: 41px;
  border-radius: 8px;
  border: none;
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
  margin: 10px 0;
}

a {
  text-decoration: none;
}

footer {
  background-color: #2d2d4e;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.footer-icon-text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  color: #fff;
}

footer p {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
  margin: 4px 0;
}

#result {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: green; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
  font-family: "Inter", sans-serif;
  border-radius: 4px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
